<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus suscipit iusto maiores ipsam facere accusamus molestiae qui doloribus dolor? Aliquid earum voluptas id minus. Itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur alias odit reprehenderit sit quaerat, dolores, deleniti omnis at consequatur autem similique ratione, a deserunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique impedit a inventore, nemo dolorem, ratione quae reiciendis autem officiis sapiente pariatur cum recusandae, architecto perspiciatis.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>